

### 1.  **Range**

**Range = Max - Min**

Importing required libraries

In [1]:
import numpy as np
import pandas as pd

In [ ]:
ages = np.random.randint(10,90,20)

In [ ]:
ages

array([84, 74, 36, 65, 78, 12, 57, 34, 65, 11, 66, 36, 87, 86, 36, 73, 21,
       66, 70, 24])

In [ ]:
max = np.max(ages)
min = np.min(ages)

In [ ]:
range = max - min

In [ ]:
range

76



---

In [2]:
import seaborn

In [3]:
data = seaborn.load_dataset('titanic')

In [4]:
data.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [5]:
max_age = data.age.max()
min_age = data.age.min()

In [6]:
max_fare = data.fare.max()
min_fare = data.fare.min()

In [7]:
range_in_age = max_age - min_age
range_in_fare = max_fare - min_fare

In [8]:
print(f"Range in age is: {range_in_age}")
print(f'Range in fare is: {range_in_fare}')

Range in age is: 79.58
Range in fare is: 512.3292

### 2.   **Variance**

![download.png]()

In [16]:
data.head().select_dtypes(exclude=["O",bool])

   survived  pclass   age  sibsp  parch     fare  class deck
0         0       3  22.0      1      0   7.2500  Third  NaN
1         1       1  38.0      1      0  71.2833  First    C
2         1       3  26.0      0      0   7.9250  Third  NaN
3         1       1  35.0      1      0  53.1000  First    C
4         0       3  35.0      0      0   8.0500  Third  NaN

**Population Variance**

In [26]:
def population_variance(data):
    sum = 0
    for i in data:
      sum = sum + i
    
    mean = sum / len(data)

    var = 0
    for i in data:
      var = var + (i - mean)**2
    
    return var / len(data)

In [35]:
population_variance(data.fare)

2466.6653116850434

**Variance with NumPy**

In [36]:
np.var(data.fare)

2466.6653116850434

------

**Sample Variance**

In [46]:
sample_data = data.iloc[100:600,:]

In [47]:
sample_data.head().select_dtypes(exclude=["O",bool])

     survived  pclass   age  sibsp  parch     fare  class deck
100         0       3  28.0      0      0   7.8958  Third  NaN
101         0       3   NaN      0      0   7.8958  Third  NaN
102         0       1  21.0      0      1  77.2875  First    D
103         0       3  33.0      0      0   8.6542  Third  NaN
104         0       3  37.0      2      0   7.9250  Third  NaN

In [48]:
sample_data.shape

(500, 15)

In [56]:
def sample_variance(sample_data):
    sum = 0
    # print(sample_data.shape)

    for i in sample_data:
      sum = sum + i
    
    mean = sum / len(sample_data)

    var = 0
    for i in sample_data:
      var = var + (i - mean)**2
    
    return var / len(sample_data-1)

In [57]:
sample_variance(sample_data.fare)

2232.9217252802905

**With Numpy**

In [58]:
np.var(sample_data.fare)

2232.9217252802905

---------

### 3.   **Standard deviation**

![download (1).png]()

- **Standard deviation is just a square root of variance**

**Population Standard deviation**

In [60]:
data.head().select_dtypes(exclude=["O",bool])

   survived  pclass   age  sibsp  parch     fare  class deck
0         0       3  22.0      1      0   7.2500  Third  NaN
1         1       1  38.0      1      0  71.2833  First    C
2         1       3  26.0      0      0   7.9250  Third  NaN
3         1       1  35.0      1      0  53.1000  First    C
4         0       3  35.0      0      0   8.0500  Third  NaN

In [61]:
pop_var = population_variance(data.fare)

In [62]:
pop_std = np.sqrt(pop_var)

In [63]:
print(pop_std)

49.66553444477411

**With NumPy**

In [64]:
np.std(data.fare)

49.66553444477411

--------

**Sample Standard deviation**

In [66]:
sample_data.head().select_dtypes(exclude=[bool,'O'])

     survived  pclass   age  sibsp  parch     fare  class deck
100         0       3  28.0      0      0   7.8958  Third  NaN
101         0       3   NaN      0      0   7.8958  Third  NaN
102         0       1  21.0      0      1  77.2875  First    D
103         0       3  33.0      0      0   8.6542  Third  NaN
104         0       3  37.0      2      0   7.9250  Third  NaN

In [67]:
sam_var = sample_variance(sample_data.fare)

In [71]:
sam_std = np.sqrt(sam_var)

print(f"Sample standard deviation is: {sam_std}")

Sample standard deviation is: 47.25380117281879

**With NumPy**

In [72]:
print(f"Sample standard deviation with NumPy is: {np.std(sample_data.fare)}")

Sample standard deviation with NumPy is: 47.25380117281879