

### 1.  **Range**

**Range = Max - Min**

Importing required libraries

In [2]:
import numpy as np
import pandas as pd

In [6]:
ages = np.random.randint(10,90,20)

In [7]:
ages

array([84, 74, 36, 65, 78, 12, 57, 34, 65, 11, 66, 36, 87, 86, 36, 73, 21,
       66, 70, 24])

In [8]:
max = np.max(ages)
min = np.min(ages)

In [12]:
range = max - min

In [13]:
range

76



---

In [14]:
import seaborn

In [15]:
data = seaborn.load_dataset('titanic')

In [17]:
data.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [20]:
max_age = data.age.max()
min_age = data.age.min()

In [21]:
max_fare = data.fare.max()
min_fare = data.fare.min()

In [22]:
range_in_age = max_age - min_age
range_in_fare = max_fare - min_fare

In [23]:
print(f"Range in age is: {range_in_age}")
print(f'Range in fare is: {range_in_fare}')

Range in age is: 79.58
Range in fare is: 512.3292



### 2.   **Quartile Deviation**

### 3.   **Mean Deviation**

### 4.   **Standard deviation**