**Importing required libraries**

In [1]:
import numpy as np
import pandas as pd

### **Mean**

In [2]:
# from sklearn import datasets
# boston_dataset = datasets.load_boston()

In [7]:
import seaborn

In [11]:
dataset = seaborn.load_dataset('tips')
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
dataset.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

**With loop**

In [20]:
sum = 0

for i in range(len(dataset.tip)):
  sum = sum + dataset.tip[i]

sum

731.58

In [22]:
sum / dataset.shape[0]

2.9982786885245902

**Without loop (Using numpy array):**

In [23]:
dataset.tip.mean()

2.9982786885245902

### **Median**
- If number of values in dataset is EVEN

- If number of values in dataset is ODD

In [31]:
odd_data = [i for i in range(1,11)]
odd_data

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Without numpy**

In [73]:
def median(data):  
  if(len(data) % 2 != 0):
    center = int(np.ceil(len(data)/2))
    median = data[center - 1]     # in case of odd number of data, center element is median
  
  else:
    #  sum = 0
     center = int(np.ceil(len(data)/2))
     sum = data[center - 1] + data[center]
     median = sum / 2

  return median

For ODD numbers of data

In [75]:
median([11,12,13,14,15,16,17,17,18])

15

For EVEN number of data

In [76]:
median([120,130,122,12,16,18,20,50,100,150,0,15])

19.0

**With numpy**

For EVEN number of data

In [77]:
np.median([120,130,122,12,16,18,20,50,100,150,0,15])

35.0

For ODD number of data

In [78]:
np.median([11,12,13,14,15,16,17,17,18])

15.0

### **Mode**

In [94]:
data = np.random.randint(1,10,20)

print(data)

data = pd.Series(data)

[3 8 6 4 5 8 5 2 5 6 7 2 8 4 8 8 2 7 9 7]

In [95]:
data.mode()

0    8
dtype: int64