### Topics covered

-  **Population vs Sample**
- **Population mean vs Sample mean**

##### importing required libraries

In [1]:
import numpy as np
import pandas as pd

------

**Suppose we want to find average weight of person in a collage, And lets consider collage has 26 persons**

**Generate dummy data**

In [24]:
data = pd.DataFrame({"Name": [chr(i) for i in range(65,91)],
                     "Age": [i for i in np.random.randint(1,30,26)],
                     'Weight': [(i)*100 for i in np.random.random(size=26)]
                     })
display(data)

   Name  Age     Weight
0     A   17  19.525582
1     B   11  13.766621
2     C   22  75.291674
3     D   11  98.278970
4     E   17  65.712439
5     F    9  74.508554
6     G   11  31.245737
7     H    4  12.340943
8     I   13  91.465581
9     J   17  13.389837
10    K   10  92.645602
11    L   22  84.810978
12    M   11  48.234112
13    N   11  96.223997
14    O   10   1.199960
15    P    1  22.511575
16    Q   14  85.060389
17    R    2  72.526029
18    S   26  20.604041
19    T   12   1.191967
20    U   10  79.504649
21    V   28   8.234402
22    W    8  38.118976
23    X   13  76.472622
24    Y   27  33.515332
25    Z   17  14.696780

Population is weight of all person in a collage (whole data), denoted by 
**N**



---



Sample is subset of population(randomly selected few person out of whole), denoted by **n**

**Sample from above data is:**

In [29]:
sample_quantity = np.random.randint(5,20)

In [34]:
sample_data = data.sample(frac=1).iloc[:sample_quantity , :]

In [36]:
sample_data       # random sample data

   Name  Age     Weight
15    P    1  22.511575
14    O   10   1.199960
23    X   13  76.472622
13    N   11  96.223997
18    S   26  20.604041
22    W    8  38.118976
20    U   10  79.504649
3     D   11  98.278970
25    Z   17  14.696780
1     B   11  13.766621
24    Y   27  33.515332
11    L   22  84.810978

#### **Population mean vs Sample mean**

![population-mean.png]()

**Population mean of above data is**

In [38]:
data.head()

  Name  Age     Weight
0    A   17  19.525582
1    B   11  13.766621
2    C   22  75.291674
3    D   11  98.278970
4    E   17  65.712439

**Using loop :**

In [54]:
sum = 0

for i in range(0, data.shape[0]):
  sum = sum + data.Weight[i]

sum

1271.0773496713048

In [56]:
sum / data.shape[0]       # Average weight of all person in collage (POPULATION MEAN)

48.88759037197326

**Without loop (Using numpy array) :**

In [57]:
np.mean(data.Weight)      # Average weight of all person in collage (POPULATION MEAN)

48.88759037197326

**Sample Mean of above data**

In [79]:
sample_data.head()

   Name  Age     Weight
15    P    1  22.511575
14    O   10   1.199960
23    X   13  76.472622
13    N   11  96.223997
18    S   26  20.604041

**Using loop :**

In [76]:
sum = 0

for i in sample_data.index:
   sum = sum + sample_data.Weight[i]

sum

579.7045015593661

In [77]:
sum / sample_data.shape[0]

48.30870846328051

**Without loop(Using numpy array) :**

In [78]:
np.mean(sample_data.Weight)       # Average weight from sample data (SAMPLE MEAN)

48.30870846328051



---